.page-container {
  position: relative;
  min-height: 85vh;
}

.login-container {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
}
.login-container form {
  width: 100%;
}
