/* page max width setting */
.page-xs {
  max-width: 800px;
  margin: auto;
}
.page-xm {
  margin: auto;
  max-width: 1280px;
}
.page-xl {
  margin: auto;
  max-width: 1440px;
}
.page-xll {
  margin: auto;
  max-width: 1700px;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 820px) {
}

@media screen and (max-width: 575px) {
  .page-xll {
    padding: 25px;
  }
  .page-xs {
    padding: 25px;
  }
}

.form-button {
  margin-top: 40px;
}

/* Home Page CSS */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tutor List */
.tutor-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 60px;
  row-gap: 20px; */
  justify-content: space-around;
}
.tutor-list-container {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}

.tutor-card {
  position: relative;
  margin: 20px 0;
  padding: 0;
  width: 300px;
  height: 570px;

  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
.tutor-card-content {
  padding: 0 30px;
}
.tutor-card-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 2.3;
}
.tutor-card-button {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  bottom: 10px;
}

.tutor-card-button button {
  width: 100%;
  margin: 5px 0;
  color: rgb(255, 255, 255);
}

/* tutor details page */

.tutor-details-flex {
  min-width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.tutor-details-left {
  width: 30%;
}

.tutor-details-right {
  width: 70%;
}
.tutor-details-card-left {
  margin: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
.tutor-details-card-right {
  margin: 15px;
  padding: 30px;
  min-height: 900px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
.details-exam-table {
  border-collapse: collapse;
  padding: 60px;
}
.details-exam-table thead tr th,
.details-exam-table tbody tr td {
  border: 1px solid black;
  padding: 10px 50px;
}

/* Tutor Fee Page */
.tutor-fee-header {
  margin-top: 30px;
}

.tutor-fee-table {
  width: 100%;
  border-collapse: collapse;
}

.tutor-fee-table thead tr th {
  border: 1px solid black;
  padding: 10px 50px;
}
.tutor-fee-table tbody tr td {
  border: 1px solid black;
  padding: 10px 20px;
}

/* tuition fee table */

.p-s-school-table {
  width: 100%;
  border-collapse: collapse;
}
.p-s-school-table thead tr th,
.p-s-school-table tbody tr td {
  border: 1px solid black;
  padding: 10px;
}

.p-s-school-table tbody tr:nth-child(2n) {
  background-color: rgb(205, 182, 226);
}

/* Student Case Form Style */

.student-case-form {
  margin-top: 40px;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
