/* page max width setting */
.page-xs {
  max-width: 800px;
  margin: auto;
}
.page-xm {
  margin: auto;
  max-width: 1280px;
}
.page-xl {
  margin: auto;
  max-width: 1440px;
}
.page-xll {
  margin: auto;
  max-width: 1700px;
}

.form-button {
  margin-top: 40px;
}

/* Home Page */
.home-six-promise {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px 0;
  max-width: 1000px;
}
.home-six-promise-card {
  min-width: 250px;
  background-color: #ffe7c9;
  padding: 20px;
  flex: 0 0 30%;
  margin: 10px 0;
  border-radius: 20px;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
}
.home-six-promise-card div:first-child {
  font-size: 26px;
  font-weight: 700;
}
.home-six-promise-card div:nth-child(3) {
  font-size: 15px;
  text-align: center;
}
.home-six-promise-card div {
  margin: 10px auto;
}

/* Tutor Register Form */
.register-subheader::before {
  content: "";
  border-color: #009933;
  border-style: solid;
  border-width: 0 3px 1px 0;
  margin-right: 10px;
}
.register-subheader {
  text-align: start;
  width: 100%;
  padding: 6px 0;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}
.region-item-show {
  margin: 7px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border: 1.5px solid orange;
  border-radius: 8px;
  /* background-color: rgba(128, 128, 128, 0.401); */
}

/* Home Page CSS */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tutor List */
.tutor-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  row-gap: 20px;
  justify-content: space-around;
}
.tutor-list-flex {
  flex: 0 0 48%;
  cursor: pointer;
}
.tutor-separate {
  display: flex;
  position: relative;
}
.tutor-separate-left {
  width: 20%;
}
.tutor-separate-right {
  width: 80%;
}
.tutor-side-filter {
  margin: 0px 15px 0 15px;
  box-shadow: 0px 1px 10px 4px rgba(132, 130, 126, 0.399);
  border-radius: 5px;
  padding: 25px;
}

/* Tutor Card  */
.tutor-cards {
  min-width: 400px;
  min-height: 300px;
  padding: 20px 30px;
  background-color: white;
  border: 1px solid rgba(199, 199, 199, 0.3);
  border-radius: 6px;
  box-shadow: 0 1px 10px 4px rgba(245, 245, 247, 0.6);
  line-height: 2;
  font-size: 15px;
  transition: all 0.5s;
}
.tutor-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px 4px gray;
}
.tutor-cards-img {
  width: 60px;
}
.tutor-cards-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tutor-cards-header-first {
  display: flex;
  flex-direction: row;
}
.tutor-cards-details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.tutor-cards-details div {
  display: flex;
  text-align: start;
}
.tutor-cards-details div span:first-child {
  color: orange;
}
.tutor-cards-details div span:nth-child(2) {
  margin-left: 10px;
}

/* Tutor Cards Popup */
.tutor-cards-popup-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  padding: 14px 0;
  border-top: 1px solid grey;
}
.tutor-cards-details-table {
  margin: 10px 0 10px 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 10px;
}
.tutor-cards-details-table span:nth-child(2n-1) {
  color: gray;
}
.tutor-cards-details-table span:nth-child(2n) {
  font-weight: 800;
  font-size: 15px;
}

/* tutor details page */
.details-exam-table {
  border-collapse: collapse;
  padding: 60px;
}
.details-exam-table thead tr th,
.details-exam-table tbody tr td {
  border: 1px solid black;
  padding: 10px 50px;
}

/* Tutor Fee Page */
.tutor-fee-header {
  margin-top: 30px;
}

.tutor-fee-table {
  width: 100%;
  border-collapse: collapse;
}

.tutor-fee-table thead tr th {
  border: 1px solid black;
  padding: 10px 50px;
}
.tutor-fee-table tbody tr td {
  border: 1px solid black;
  padding: 10px 20px;
}

/* tuition fee table */

.p-s-school-table {
  width: 100%;
  border-collapse: collapse;
}
.p-s-school-table thead tr th,
.p-s-school-table tbody tr td {
  border: 1px solid black;
  padding: 10px;
}

.p-s-school-table tbody tr:nth-child(2n) {
  background-color: rgb(205, 182, 226);
}

/* Student Case Form Style */

.student-case-form {
  margin-top: 40px;
  padding: 40px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
.student-case-confrim {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header-title {
  padding: 30px;
  font-size: 36px;
  font-weight: 900;
}
.page-header-title::before {
  content: "";
  border-color: orange;
  border-style: solid;
  border-width: 0 4px 1px 0;
  margin-right: 10px;
}

/* Student Case Table List */
.student-case-separate {
  position: relative;
  display: flex;
}
.student-case-left {
  margin-top: 85px;
  width: 20%;
}
.student-case-right {
  width: 80%;
}
.student-case-table-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 14px;
  margin: 0 15px;
}

/* Student Case Filter */
.student-case-side {
  margin: 0 10px;

  box-shadow: 0px 1px 10px 4px rgba(132, 130, 126, 0.399);
  border-radius: 5px;
  top: 20%;
}
.student-case-side-filter {
  padding: 20px;
}
.student-case-filter {
  margin: 0px 30px 30px 30px;
  border-bottom: 1px solid orange;
  box-shadow: 0px 1px 10px 4px rgba(132, 130, 126, 0.399);
  border-radius: 5px;
}
.student-case-filter ul {
  display: flex;
  list-style: none;
  padding: 7px;
}
.student-case-filter ul li {
  padding: 5px 10px;
  margin: 3px 5px;
  cursor: pointer;
}
.student-case-filter ul li:hover {
  background-color: rgba(128, 128, 128, 0.159);
  border-radius: 5px;
}
.student-case-filter-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-case-filter-items div {
  margin-right: 30px;
  padding: 5px 5px 3px 5px;
  cursor: pointer;
}
.active {
  background-color: rgba(213, 218, 70, 0.411) !important;
  border-radius: 5px;
}

/* Student Case Card */
.student-case-card {
  min-width: 400px;
  height: 195px;
  padding: 20px 30px;
  background-color: white;
  border: 1px solid rgba(199, 199, 199, 0.3);
  border-radius: 6px;
  box-shadow: 0 1px 10px 4px rgba(245, 245, 247, 0.6);
  line-height: 1.8;
  font-size: 15px;
  transition: all 0.5s;
}
.student-case-card:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 10px 4px gray;
}
.student-case-flex {
  flex: 0 0 48%;
}
.student-case-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-case-method {
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
  overflow: hidden;
}
.student-level-type {
  background-color: rgba(128, 128, 128, 0.249);
  font-size: 14px;
  border-radius: 5px;
  padding: 4px;
  margin: 8px;
}
.student-case-address {
  color: orange;
  font-weight: 900;
}

.tutor-request::before {
  content: "";
  border-color: #009933;
  border-style: solid;
  border-width: 0 3px 1px 0;
  margin-right: 10px;
}
.tutor-request {
  margin-top: 15px;
  font-size: 13px;
  color: grey;
}
.lesson-time {
  font-size: 14px;
  color: green;
}

/* Student Case Pop Up */
.student-case-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  background-color: #ebebec;
  margin-top: 30px;
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
}
.student-case-popup div {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  background-color: white;
}
.student-case-popup div span:first-child {
  color: grey;
}
.student-case-popup div span:nth-child(2) {
  margin-left: 14px;
  font-weight: 700;
}

/* Pop up card footer button */
.popup-card-footer-btn {
  background-color: orange;
  color: white;
  width: 140px;
  height: 40px;
  margin: 0 30px 10px 0;
}

/* Tutor Map Student Case Table  */
.tutor-map-student-table {
  overflow-x: auto;
}
.tutor-map-student-table > div {
  min-width: 1020px;
}
.tutor-map-student-table-subtitle div {
  font-size: 13px;
  color: grey;
}

/* Phone vaildation OTP */
.otp-container-layout {
  width: 500px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
}
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.otp-input {
  width: 26px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  text-align: center;
  font-size: 30px;
  cursor: not-allowed;
  cursor: pointer;
  pointer-events: all;
}
.otp-input:focus {
  border-bottom: 3px solid orange;
  outline: none;
}

/* .otp-input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
} */

@media screen and (max-width: 1080px) {
  .student-case-flex {
    flex: 0 0 100%;
  }
  .tutor-list-flex {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 820px) {
  .student-case-separate {
    flex-direction: column;
  }
  .student-case-left {
    margin: 10px 20px 20px 30px;
    width: auto;
  }
  .student-case-right {
    width: auto;
  }
  .student-case-card {
    min-width: 100px;
  }

  .tutor-separate {
    flex-direction: column;
  }
  .tutor-separate-left {
    margin: 10px 20px 20px 30px;
    width: auto;
  }
  .tutor-separate-right {
    width: auto;
  }
}

@media screen and (max-width: 575px) {
  .page-xs {
    padding: 25px;
  }

  /* Tutor Card */
  .tutor-card {
    position: relative;
    padding: 0;
    width: 190px;
    height: 570px;

    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 47px -28px rgba(0, 0, 0, 1);
  }
  .tutor-card-content {
    padding: 0 10px;
  }

  .student-case-filter ul {
    flex-direction: column;
    text-align: center;
  }
  .student-case-filter ul:first-child {
    border-bottom: 2px dotted grey;
  }
  .student-case-card {
    height: auto;
  }
}
